.name {
  font-size: 15px;
  font-weight: 500;
  color: rgb(60, 60, 60);
}

.inner {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

.text {
  font-size: 14px;
  color: rgb(87, 87, 87);
}
